<section class="article-container">
    <!-- Back Home -->
    <%- partial('_partial/gosite') %>

        <!-- Page Header -->
        <header class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-heading">
                            <h1>
                                <%- item.title || theme.default_post_title || "Untitled" %>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content -->
        <article>
            <div class="container">
                <div class="row">
                    <!-- Post Main Content -->
                    <div class="post-content col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <%- item.content %>
                    </div>
                    <!-- Comments -->
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <%- partial("_partial/comment.ejs") %>
                    </div>
                </div>
            </div>
        </article>
</section>

<!-- Image viewer-->
<%- partial('_partial/img-viewer') %>

<!-- TOC -->
<%- partial("_partial/toc", {post: item}) %>